* {
    font-family: Inter, sans-serif;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 250px;
}

.footer {
    background-color: #f0f0f0;
    margin: 0px auto;
    padding: 50px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color: #9575cd;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0 auto;
    color: #0f0f0f;
}

.copyright {
    margin-top: 25px;
    font-size: 80%;
}

.about-us {
    width: 100%;
    margin-top: 25px;
}

.margin {
    margin-bottom: 30px;
}

@media only screen and (max-width: 576px) {
    .about-us {
        padding: 0px 25px;
    }

    .flat {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 80%;
    }
}
