* {
    font-family: Inter, sans-serif;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 250px;
}

.footer {
    background-color: #f0f0f0;
    margin: 0px auto;
    padding: 50px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color: #9575cd;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0 auto;
    color: #0f0f0f;
}

.copyright {
    margin-top: 30px;
    font-size: 80%;
}

.margin {
    margin-bottom: 50px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512da8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 40px;
}

.unlink {
    color: black;
}

.unlink:hover {
    color: black;
    text-decoration: none;
}

.carousel {
    background-color: #512da8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

@media only screen and (max-width: 576px) {
    .flat {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 80%;
    }

    .checkbox-margin {
        margin-bottom: 17.5px;
    }

    .reserve-btn-margin {
        margin-top: 25px;
    }
}
